@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

body {
    background-color: rgb(243, 209, 173);
    font-family: "Montserrat";
    margin-left: 10px;
    color:rgb(38, 84, 49)
  }
  
  h1 {
    color: rgb(38, 84, 49);
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
  }
  img {
    -webkit-box-reflect: right;
  }
  
  /* EMOJID */
  .fa-bottle-water
  {
    font-size: 40px;
  }
  .fa-apple-whole
  {
    font-size: 40px;
  }

  .fa-pizza-slice
  {
    font-size: 40px;
    margin-left: 20px;
  }

  .fa-wine-bottle
  {
    font-size: 40px;
  }

  .fa-jar
  {
    font-size: 40px;
    margin-left: 20px;
  }

  .fa-file
  {
    font-size: 40px;
  }

  .fa-newspaper
  {
    font-size: 40px;
    margin-left: 20px;
  }

  .fa-box-open
  {
    font-size: 40px;
    margin-left: 20px;
  }

  .fa-box-tissue
  {
    font-size: 40px;
    margin-left: 20px;
  }

  /* EMOJID */

  .header {
    padding: 25px;
    background: rgb(38, 84, 49);
    font-size: 20px;
    font-weight: 300;
  }

a {
  color: rgb(38, 84, 49);
  text-decoration: none;
  font-size: medium;
}

/* RIBA HEADER-i ALL */
.navbar {
  overflow: hidden;
  background-color: rgb(61, 113, 73);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(243, 209, 173);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(38, 84, 49);
  color: rgb(243, 209, 173);
}

.navbar a.active {
  background-color: rgba(38, 84, 49);
  color: rgb(243, 209, 173);
}
/* RIBA HEADER-i ALL */

.footer {
  padding: 20px;
  text-align: center;
  background: rgb(38, 84, 49);
  color: rgb(243, 209, 173);
}

/* TABEL */
table {
  width: 95%;
}

th {
  text-align: left;
}
